/*partie accordeon*/
.accordeon {
    height: auto;
    margin-top: 50px;
    overflow: hidden;
}

.categorie_meilleurs_ventes,
.categorie_tendances_hommes,
.categorie_tendances_femmes,
.categorie_tendances{
    background-color: #e9e9e9;
}

.sous-categorie{
    padding-left: 20px;
    background-color: #e2e1dd;
    border-top: 1px solid #ccc;
    padding: 12px 10px;
    display: flex;
    position: relative;
}


.contenu{
    /*transition: min-height 10s linear;*/
    transition : max-height 1s linear;
    height: auto;
    max-height: 600px;
}

.accordeon h2{
    background-color: #e2e1dd;
    padding: 12px 10px;
    cursor: pointer;
    border-top: 1px solid #ccc;
    margin: 0;
    font-size: 16px;
    overflow: hidden;
}

.accordeon a i{
    right: 22px;
    overflow: hidden;
    position: absolute;
}

.accordeon h2 i{
    position: absolute;
    right: 20px;
    overflow: hidden;
}

.accordeon h2 i{
    color: red;
    font-weight: 900;
    
}

.showAccordeon{
    height: auto;
}

.hideAccordeon{
    overflow: hidden;
    max-height: 0;
}